<div class="sidebar bg-light p-3 h-100">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a routerLink="/welcome" routerLinkActive="active" class="nav-link">
        <i class="pi pi-home me-2"></i>Accueil
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/smartphones" routerLinkActive="active" class="nav-link">
        <i class="pi pi-list me-2"></i>Liste des smartphones
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/smartphones/add" routerLinkActive="active" class="nav-link">
        <i class="pi pi-plus-circle me-2"></i>Ajouter un smartphone
      </a>
    </li>
  </ul>
</div>