<div class="app-sidebar">
  <ul class="nav-list">
    <li>
      <a routerLink="/welcome" routerLinkActive="active" class="nav-link">
        <i class="pi pi-home"></i><span>Accueil</span>
      </a>
    </li>
    <li>
      <a routerLink="/smartphones" routerLinkActive="active" class="nav-link">
        <i class="pi pi-list"></i><span>Liste des smartphones</span>
      </a>
    </li>
    <li>
  <a routerLink="/statistiques" routerLinkActive="active" class="nav-link">
    <i class="pi pi-chart-bar"></i><span>Statistiques</span>
  </a>
</li>
    <li>
      <a routerLink="/smartphones/add" routerLinkActive="active" class="nav-link">
        <i class="pi pi-plus-circle"></i><span>Ajouter un smartphone</span>
      </a>
    </li>
  </ul>
</div>
